<!--Use 'stepCode' as id attribute-->
<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
    <div class="checkou not-logged-in" data-bind="if: !isLogedIn">
        <label>You are not logged in, please log in to continue</label>
            <div id="checkout-step-title"
                class="step-content"
                data-role="content">
                <div class="block-content" aria-labelledby="block-customer-login-heading">
                    <form data-role="login"
                        data-bind="submit:login"
                        method="post">
                        <div class="fieldset"
                                data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                            <div class="field field-email required">
                                <label class="label" for="login-email"><span data-bind="text: 'Email'"></span></label>
                                <div class="control">
                                    <input type="email"
                                        class="input-text"
                                        id="login-email"
                                        name="username"
                                        data-bind="attr: {autocomplete: autocomplete}"
                                        data-validate="{required:true, 'validate-email':true}" />
                                </div>
                            </div>
                            <div class="field field-password required">
                                <label for="login-password" class="label"><span data-bind="i18n: 'Password'"></span></label>
                                <div class="control">
                                    <input type="password"
                                        class="input-text"
                                        id="login-password"
                                        name="password"
                                        data-bind="attr: {autocomplete: autocomplete}"
                                        data-validate="{required:true}"
                                        autocomplete="off"/>
                                </div>
                            </div>
                            <!-- ko foreach: getRegion('additional-login-form-fields') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                            <!-- /ko -->
                        </div>
                        <div class="actions-toolbar">
                            <input name="context" type="hidden" value="checkout" />
                            <div class="primary">
                                <button type="submit" class="action action-login secondary"><span data-bind="i18n: 'Sign In'"></span></button>
                            </div>
                            <div class="secondary">
                                <a class="action action-remind" data-bind="attr: { href: forgotPasswordUrl }">
                                    <span data-bind="i18n: 'Forgot Your Password?'"></span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="checkout logged-in" data-bind="if: isLogedIn">
            <label>You are logged in, click Next to continue</label>
            <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
                <div class="actions-toolbar">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>