& when (@media-common = true) {
	.vtearit-bestsellers {
		text-align: center;
		h2 {
			font-size: 3.8rem;
			margin: 0;
		}
		.bestsellers-grid.grid {
			.product-items {
				display: flex;
				flex-wrap: wrap;
				.product-item {
					padding: 10px;
					width: 25%;
					&-photo {
						display: block;
    					width: 100%;
						img {
							width: 100%;
						}
					}
					&-name, .price-quantity {
						margin: 5px 0 10px;
					}
					&-name a {
						font-size: 15px;
					}
				}
			}
			.show-more {
				margin-top: 30px;
				#btn-more {
					background: #3e52bb;
					color: #fff;
					height: 45px;
					width: 125px;
				}
			} 
		}
	}
}
